

.NFT__discover button {
    margin-top: var(--margin-20);
    max-height: var(--margin-60);
    background-color: var(--color-bg);
    max-width: var(--container-small);
}

@media screen and (max-width: 1280px) {
    .NFT__discover {
        padding-bottom: var(--padding-80)
    }
    .NFT__discover button {
        margin-top: 0;
    }
}

@media screen and (max-width: 835px) {
    .mobile-margin{
        margin-bottom: var(--margin-20);
    }
    .NFT__discover {
        padding-bottom: var(--padding-40)
    }
}

