.NFT_discover-heading {
    flex-direction: column;
}

.NFT__discover-heading h1 {
    font-size: var(--font-size-38);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-120);
    margin-bottom: var(--size-10px);
}

.NFT__discover-heading p {
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-160);
}

.NFT__discover button {
    margin-top: var(--size-40px);
    max-height: var(--size);
    background-color: var(--color-bg);
}

.NFT__discover-nfts {
    margin-top: 60px;
}