.NFT__creators {
    padding-top: var(--padding-80);
    background-color: var(--color-bg);   
}

.NFT__creators-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.NFT__creators button {
    height: 60px;
    background-color: var(--color-bg);
    margin-bottom: var(--margin-60);
}

.NFT__crators-button {
    display: flex;
    align-items: end;
}

.NFT__creators-containers {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    gap: var(--margin-30);
    padding-bottom: var(--padding-80);
}

.NFT__button-mobile{
    display: none;
}

@media screen and (max-width: 1280px) {
    .NFT__creators {
        padding-top: var(--padding-40);  
    }
    .NFT__creators button {
        margin-bottom: var(--margin-40);
    }
    .NFT__creators-containers {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        padding-bottom: var(--padding-40);
    }
    .NFT__creators-container {
        display: none;
    }
}

@media screen and (max-width: 835px) {
    .NFT__creators-containers {
        grid-template: repeat(5, 1fr) / 1fr;
        padding-bottom: 0;
    }

    .NFT__medium-screen-button {
        display: none;
    }
    .NFT__button-mobile{
        display: flex;
        margin-bottom: var(--margin-40);
        margin-top: var(--margin-20);
    }

}