
.NFT__trending-components {
    display: grid;
    grid-template: 525px / 1fr 1fr 1fr ;
    column-gap: var(--margin-30);
}


@media screen and (max-width: 1280px) {
    .NFT__trending-components {
        grid-template-columns: 1fr 1fr;
        column-gap: var(--margin-30);;
    }    
}



