.trending-grid {
    max-width: var(--medium-container);
    max-height: 445px;
    display: grid;
    grid-template: 3fr 1fr / repeat(3, 1fr);
    gap: var(--margin-15)
}

.NFT__heading_img-count, .author {
    display: flex;
    align-items: center;
}

.NFT__heading_img-count {
    width: 100px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text);
    background-color: var(--color-primary);
    border-radius: var(--border-radius-full);
    font-family: var(--font-num);
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-400);
    padding: var(--padding-30) var(--padding-15);
}

.img-main {
    grid-row: 1 / 2;
    grid-column: span 3;
}

.img-secondary {
    grid-column: span 2;
}

.NFT__trending-authors {
    flex-direction: column;
    margin-top: var(--margin-15);
}

.NFT__trending-authors h1 {
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-400);
    margin-bottom: var(--margin-10);
}

.NFT__trending-authors p {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-400);
}



@media screen and (max-width: 835px) {
    .phone-display-none {
        display: none;
    }
}