@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.NFT__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-20px) var(--size-50px);
}

.NFT__logo{
    display: flex;
    align-items: center;
}

.NFT__navbar-logo img:first-child {
    width: var(--size-30px);
    height: var(--size-30px);
    margin-right: var(--size-10px);
}

.NFT__navbar-anchors {
    display: flex;  
    align-items: center;
}

.NFT__navbar-anchors a {
    padding: 0 var(--size-20px);
    margin-right: var(--size-10px);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-500);
}

.NFT__navbar-anchors button {
    padding: var(--btn-small-padding);
    background-color: var(--color-primary);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-500);
    line-height: var(--line-height-140);
}

