
.NFT_categories-components {
    display: grid;
    grid-template: 1fr 1fr / repeat(4, 1fr);
    gap: var(--margin-30)
}

@media screen and (max-width: 835px) {
    .NFT_categories-components {
        grid-template: repeat(4, 1fr) / 1fr 1fr;
        gap: var(--margin-20);
    }
}