@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font: 'Work Sans', sans-serif;
  --font-num: 'Space Mono', monospace;

  --btn-small-padding: 18px 30px;
  --btn-primary-padding: 18px 50px 18px 50px;
  --border-radius-full: 20px;
  --border-radius-top: 20px 20px 0 0;
  --border-radius-bottom: 0 0 20px 20px;

  --font-size-67: 67px;
  --font-size-38: 38px;
  --font-size-28: 28px;
  --font-size-24: 24px;
  --font-size-22: 22px;
  --font-size-16: 16px;
  --font-size-12: 12px;

  --font-weight-200: 200;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  --line-height-110: 110%;
  --line-height-130: 130%;
  --line-height-140: 140%;
  --line-height-160: 160%;

  --size-5px: 5px;
  --size-10px: 10px;
  --size-15px: 15px;
  --size-20px: 20px;
  --size-25px: 25px;
  --size-30px: 30px;
  --size-40px: 40px;
  --size-50px: 50px;
  --size-60px: 60px;
  --size-80px: 80px;
  --size-100px: 100px;
  --size-150px: 150px;
  --size-200px: 200px;
  --size-240px: 240px;
  --size-250px: 250px;
  --size-270px: 270px;
  --size-330px: 330px;
  --size-400px: 400px;
  --size-420px: 420px;
  --size-445px: 445px;
  --size-500px: 500px;
  

  --color-primary: #A259FF;
  --color-text: #fff;
  --text-secondary: #CCC;
  --caption-label-text: #858584;
  --color-bg: #2B2B2B;
  --bg-secondary: #3B3B3B;
  --color-gradient: linear-gradient(127deg, #FFB629 0%, #FFDA56 50.72%, #FFD7A6 100%);
}

.content-spacer {
  width: 62.5%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.section-cotainer {
  width: 100%;
}

.content-padding {
  padding: var(--size-80px) 0;
}

.content-footer-padding{
  padding: var(--size-40px) 0;
}

.txt-basics {
  font-family: var(--font);
  text-transform: capitalize;
  color: var(--color-text);
}

.btn-basics {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
  padding: var(--btn-primary-padding);
  font-size: var(--dont-size-16);
  font-weight: var(--font-weight-600);
  border-radius: var(--size-20px);
  color: var(--color-text);
  border: 2px solid var(--call-to-action, #A259FF);
}

.logo-margin {
  margin-right: 12px;
}

input {
  min-height: 58px;
  min-width: var(--size-420px);
  position: absolute;
  display: flex;
  padding: 16px 0px 16px 20px;
  align-items: center;
  border-radius: var(--border-radius-full);
  z-index: 0;
  border: none;
}



