@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font: 'Work Sans', sans-serif;
  --font-num: 'Space Mono', monospace;

  --btn-small-padding: 18px 30px;
  --btn-primary-padding: 18px 50px 18px 50px;
  --border-radius-full: 20px;
  --border-radius-top: 20px 20px 0 0;
  --border-radius-bottom: 0 0 20px 20px;

  --font-size-12: 12px;
  --font-size-16: 16px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-38: 38px;
  --font-size-48: 48px;
  --font-size-58: 58px;
  --font-size-67: 67px;
  
  --font-weight-200: 200;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  --line-height-110: 110%;
  --line-height-130: 130%;
  --line-height-140: 140%;
  --line-height-160: 160%;

  --margin-5: 5px;
  --margin-10: 10px;
  --margin-15: 15px;
  --margin-20: 20px;
  --margin-25: 25px;
  --margin-30: 30px;
  --margin-40: 40px;
  --margin-60: 60px;
  --margin-80: 80px;

  --padding-10: 10px;
  --padding-15: 15px;
  --padding-20: 20px;
  --padding-25: 25px;
  --padding-30: 30px;
  --padding-40: 40px;
  --padding-50: 50px;
  --padding-60: 60px;
  --padding-80: 80px;
  

  --small-logo: 24px;
  --large-container: 510px;
  --medium-container: 330px;
  --small-container: 315px;

  

  --color-primary: #A259FF;
  --color-text: #fff;
  --text-secondary: #CCC;
  --caption-label-text: #858584;
  --color-bg: #2B2B2B;
  --bg-secondary: #3B3B3B;
  --color-gradient: linear-gradient(127deg, #FFB629 0%, #FFDA56 50.72%, #FFD7A6 100%);
  --shroom-gradient: linear-gradient(180deg, rgba(162, 89, 255, 0.00) 0%, #A259FF 100%);
}

@media screen and (max-width: 1050px) {
  :root {
    --font-size-67: 38px;
    --line-height-110: 120%;
    --line-height-160: 140%;

  }
}