
.NFT__header_heading-container {
    display: flex;
    flex-direction: column;
    margin-right: var(--size-15px);
}


.NFT__header-heading {
    font-size: var(--font-size-67);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-110);
    margin-bottom: var(--size-12px);
}


.NFT__header_heading-container button {
    background-color: var(--color-primary);
    max-width: 228px;
    margin: var(--size-30px) 0;    
}

.NFT__header_heading-txt {
    font-size: var(--font-size-22);
    font-weight: var(--vont-weight-400);
    line-height: var(--line-height-160);
 }

 .NFT__header_heading-container div{
    display: flex;
 }


 .NFT__header_heading-container div h1{
    font-family: var(--font-num);
    font-size: var(--font-size-28);
    font-weight: var(--font-weight-700);
    line-height: var(--line-height-140);
 }

 .NFT__header_heading-container div p{
    font-size: var(--font-size-22);
    font-weight: var(--vont-weight-400);
    line-height: var(--line-height-160);
 }
 
 .NFT__header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--size-150px);
 }


 .NFT__header-info:not(:last-child) {
    margin-right: var(--size-30px);
 }

 
 .NFT_header-spacer {
    margin: var(--size-20px);
 }

.NFT__header_img-container{
    max-height: var(--size-400px);
    display: flex;
    flex-direction: column;
    margin-left: var(--size-15px);
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius-full);

}


.NFT__header_img-info {
   
    display: flex;
    flex-direction: column;
    padding: var(--size-20px);
    
}

.NFT__header_img-info h1 {
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-600);
    margin-bottom: var(--size-10px);
}

.NFT__header_img-info P {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-400);
}

.NFT__header_img-artist {
    display: flex;
    align-items: center;
}
