
 .NFT__header-info {
    display: flex;
    flex-direction: column;
}


.NFT__header_heading-container {
    max-width: var(--large-container);
    margin-right: var(--margin-15);
}


.NFT__header-heading {
    font-size: var(--font-size-67);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-110);
    margin-bottom: var(--margin-20);
}

.NFT__header_heading-container button {
    background-color: var(--color-primary);
    margin: var(--margin-30) 0;    
}

.NFT__header_heading-txt,  .NFT__header_heading-container div p, .NFT__header_img-info h1, 
.NFT__header_heading-container div h1  {
    font-size: var(--font-size-22);
}

.NFT__header_heading-txt,  .NFT__header_heading-container div p {
    font-weight: var(--vont-weight-400);
    line-height: var(--line-height-160);
 }

 .NFT__header_heading-container div{
    display: flex;
 }

 .NFT__header_heading-container div h1 {
    font-family: var(--font-num);
    font-size: var(--font-size-28);
    font-weight: var(--font-weight-700);
    line-height: var(--line-height-140);
 }
 
 .NFT__header-info {
    justify-content: center;
    width: 100%;
 }

 .NFT__header-info:not(:last-child) {
    margin-right: var(--margin-30);
 }

 
 .NFT_header-spacer {
    margin: var(--size-20px);
 }



img.NFT__header-gif {
    max-height: var(--large-container);
    margin-left: 15px;
}

img.NFT__header-gif-mobile {
   display: none;
}

.NFT__header_img-info {
    padding: var(--size-20px);
}


@media screen and (max-width: 1280px) {
    .NFT__header {
        margin: var(--margin-30) 0;
    }

    .NFT__header_heading-container {
        max-width: var(--large-container);
     }

    img.NFT__header-gif{
        max-height: var(--medium-container);
    }

    .NFT__header-heading {
        font-size: var(--font-size-38);
        line-height: var(--line-height-120);
        width: 345px;

    }

    .NFT__header_heading-txt, .NFT__header_heading-container div p {
        font-size: var(--font-size-16);
    }

    .NFT__header_heading-container div h1, .NFT__header_heading-container div p {
        line-height: var(--line-height-160);
    }

    .NFT__header_heading-txt {
        line-height: var(--line-height-140);
    }
    .NFT__header_heading-container div h1{
        font-size: var(--font-size-22);
    }

    .NFT__header_heading-container button {
        margin: var(--margin-20) 0;    
    }

}
    
@media screen and (max-width: 835px) {

    .NFT__header_heading-container{
        margin: 0;
        max-width: var(--small-container);
    }

    .NFT__header-heading {
        font-size: var(--font-size-28);
        line-height: var(--line-height-140);
        margin-bottom: 10px;
    }
    
     .NFT__header_heading-container div h1, .NFT__header_heading-container div p {
        line-height: var(--line-height-160);
     }
     .NFT__header_heading-container div p{
        font-size: var(--font-size-16);
     }

    .NFT__header_heading-container button {
        max-width: 300px;
        margin: var(--margin-40) 0;    
    }
    img.NFT__header-gif {
        display: none;
    }
    img.NFT__header-gif-mobile {
        display: block;
        max-height: var(--medium-container);
        margin-left: none;
        margin-top: 40px;
    }

    .NFT__header_heading-container button {
       width: 100%;    
       border: none;
    }
    
}