.NFT__footer {
    background-color: var(--bg-secondary);
}

.NFT__footer-section{
    flex-direction: column;
}

.footer-info-spacer{
    width: 58%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.NFT__logo{
    display: flex;
    align-items: center;
    margin-bottom: var(--size-30px);
}

.logo-txt {
    max-height: var(--size-20px);
}


.NFT__footer-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.container-small{
    max-width: var(--size-250px);
}

.NFT__footer-submit-container {
    width: var(--size-420px);
    position: relative;
    display: flex;
    flex-direction: column;
}

.NFT__footer-container-heading {
    font-family: var(--font-num);
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-700);
    margin-bottom: var(--size-30px);
}

.NFT__footer-txt-secondary {
    max-width: var(--size-330px);
    font-family: var(--font);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-140);
    color: var(--text-secondary);
}

.NFT__footer-secondary-margin {
    margin-bottom: var(--size-20px);
}

.NFT__footer-community-margin {
    margin-bottom: var(--size-15px);
}

.NFT__joinus-submit {
    margin-top: var(--size-40px);
}

.NFT__joinus-submit button {
    position: absolute;
    right: 0px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    max-height: var(--size-60px);
    padding: var(--btn-primary-padding);
    z-index: 1;
}


.footer-line-spacer {
    width: 67%;
    margin: auto;
}

.copyright {
    width: 100%;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--caption-label-text);
    margin-bottom: var(--size-20px);
}

.copyright-txt {
    font-family: var(--font);
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-110);
    color: var(--text-secondary)
}